<% layout('layouts/boilerplate.ejs') %>
<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%= err.message %> </h4>
            <% if (process.env.NODE_ENV !== "production") { %>
            <p><%= err.stack %> </p>
            <% } %>
        </div>
    </div>
</div>
<!-- We are displaying err.stack for us to understand where the problem occurred. This is done in development
but not in production when users access the website -->